<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         failOnRisky="true"
         failOnWarning="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">
    <listeners>
        <listener class="ElixirTestListener" file="./elixir.listener.php" />
    </listeners>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./config</directory>
            <directory suffix=".php">./controllers</directory>
            <directory suffix=".php">./routes</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./build</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml" />
    </logging>
    <testsuites>
        <testsuite name="Authentication Test Suite">
            <directory suffix="Test.php">./tests/authentication</directory>
        </testsuite>
    </testsuites>
</phpunit>
